header > #header-area > a > h1 {
    background: url(https://raw.githubusercontent.com/for-haso/storage/master/png/logo_hasodul_white.png) no-repeat;
    background-size: 191.2px 32px;
    width: 191.2px;
}
