/* Haso2.css - 프로필 이미지 확대 관련 */

#board-info {
    background-color: #1f94f5;
    width: 100%;
    height: 75px;
    overflow: hidden;
    line-height: 1;
    border-right: 0;
    border-radius: 6px;
    position: relative;
}

#board-info #board-info-profile-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
}

#board-info h1 {
    background-color: #1f94f5;
    font-size: 24px;
    vertical-align: top;
    padding-bottom: 3px;
    border-bottom: 0px solid #fff;
    margin-left: 63px;
}

#board-info #board-info-bottom {
    padding-top: 3px;
    margin-left: 63px;
}
