/* Haso2.css */

header .row > div:nth-child(1) > a {
    display: block;
    width: 166.6667px;
    height: 50px;
    background: url(https://raw.githubusercontent.com/for-haso/storage/master/png/logo_haso.png) no-repeat;
    background-size: contain;
}

header #header-bar {
    /* 위쪽 여백을 0.65em 줄여 로고 이미지 위/아래 여백의 균형을 맞춤 */
    margin-top: 0.35em;
    margin-bottom: 1em;
    padding-right: 30px;
    padding-left: 30px;
}
