/* Haso2.css */

header .row > div:nth-child(1) > a {
    display: block;
    width: 135.4167px;
    height: 50px;
    background: url(https://raw.githubusercontent.com/for-haso/storage/master/png/logo_nyo.png) no-repeat;
    background-size: contain;
}

header #header-bar {
    margin-top: 0.35em;
    margin-bottom: 1em;
    padding-right: 30px;
    padding-left: 30px;
}
