/* Haso2M.css */

header > #header-area > a > h1 {
    background: url(https://raw.githubusercontent.com/for-haso/storage/master/png/logo_nyo_white.png) no-repeat;
    background-size: 86.9333px 32px;
    width: 86.9333px;
    margin-top: 2px;
}
